# Environment variables for the financial data collector application
API_PORT=3000

# Postgres related environment variables
POSTGRES_USERNAME=data_collector_user
POSTGRES_PASSWORD=data_collector_password
POSTGRES_DB=financiar_data_collector_db
DATABASE_URL=postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@db_data_collector_postgres:5432/${POSTGRES_DB}